VITE_SUPABASE_URL=https://jaqzjhabmtvqtvinoafq.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_vMsNKA4Icb2BD9SzgBTz4A_DTmSnwWb
VITE_USE_SUPABASE=true
VITE_REQUIRE_AUTH=false
VITE_ALLOW_PROVIDER_SIMULATION=true
VITE_GOOGLE_CLIENT_ID=857437726846-ckcn1mqo4p1p8vstsq5tehnn3pvhnbsr.apps.googleusercontent.com
